textarea {
    border: 1px solid $electric-blue;
    background-color: transparent;
    color: whitesmoke;
    font-size: 1.2rem;
    height: 100px;
    outline: none;
    padding: 10px;

    &:focus {
        transition: 0.5s ease-in-out;
        border: 1px solid $bright-blue;
    }
}

.select-element {
    border: 1px solid $electric-blue;
    font-size: 0.8rem;
    width: 100%;
    border-radius: 3px;
    color: $electric-blue;
    overflow: hidden;
    background-color: transparent;
    outline: none;

    &:focus {
        transition: 0.5s ease-in-out;
        border: 1px solid $bright-blue;
    }
}