$teal: #26bfd4;
$dark-teal: #207b88;
$black: #131417;
$dark-slate-gray: #272a31;
$charcoal: #42454a;
$silver: #c0c0c0;
$offwhite: #f6f6f6;
$blue: #008dff;
$bright-blue: #2500f2;
$electric-blue: #187fe0;
$bright-purple: #8b1bc8;
$hot-pink: #FF69B4;
$red: #c9001e;
$warning: #922a2a;
$red-orange: #ff5349;
$orange: #FFA500;
$coral: #ff7f50;
$grey: #8a8a8a;
$grey-gradient: linear-gradient(90deg, rgba(54,54,54,1) 0%, rgba(101,98,98,1) 45%, rgba(176,176,176,1) 100%);
